<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <script src="https://kit.fontawesome.com/b760fc418d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
    <div class="logo">
      <img src="/imagen/logo-mercado-liebre.svg" alt="logo-mercado-liebre" />
    </div>
    <div class="buscador">
      <form action=""><input type="text" name="" id="">
        <button><i class="fas fa-search"></i></button>
      </form>
    </div>
    <h4>Comprá en cuotas y sin tajeta de crédito</h4>
    <div>
      <a href=""><i><i class="fas fa-bars"></i></i></a>
    </div>
    <nav>
      <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficialeas</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li><a href="">Créa tu cuenta</a></li>
        <li><a href="">Ingresá</a></li>
        <li><a href="">Mis Compras</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <!--secion del banner-->
    <section class="banner">
      <div>
        <img src="/imagen/img-home-banner.jpg" alt="Banner">
      </div>
      <!--seccion product  en su ultima vista-->
    </section>
    <h3>Basada en su última visita</h3>
    <section class="producto">
      <article class="produc">
        <img src="/imagen/img-cafetera-moulinex.jpg" alt="Producto Cafetera">
        <p>$6.770</p>
        <P>40% OFF</P>
        <h4>Cafetera Moulinex</h4>
      </article>
      <article class="produc">
        <img src="/imagen/img-macbook-pro-2019.jpg" alt="Producto Macbook">
        <p>$230.000</p>
        <P>20% OFF</P>
        <h4>MacBook Pro 2019</h4>
      </article>
      <article class="produc">
        <img src="/imagen/img-samsung-galaxy-s10.jpg" alt="Producto Samsung">
        <p>$70.500</p>
        <P>10% OFF</P>
        <h4>Samsung Galaxy S10</h4>
      </article>
      </article>
      <article class="produc">
        <img src="/imagen/img-tv-samsung-smart.jpg" alt="Producto TV Samsung">
        <p>$23.200</p>
        <P>5% OFF</P>
        <h4>SmartTv Samsung 43"</h4>
      </article>
      <!--seccion de los product en oferta-->
      <section class="ofertas">
        <h3>Seccion de Ofertas</h3>
        <article class="oferta">
          <img src="/imagen/img-cafetera-moulinex.jpg" alt="Producto Cafetera">
          <p>$6.770</p>
          <P>40% OFF</P>
          <h4>Cafetera Moulinex</h4>
        </article>
        <article class="oferta">
          <img src="/imagen/img-macbook-pro-2019.jpg" alt="Producto Macbook">
          <p>$230.000</p>
          <P>20% OFF</P>
          <h4>MacBook Pro 2019</h4>
        </article>
        <article class="oferta">
          <img src="/imagen/img-samsung-galaxy-s10.jpg" alt="Producto Samsung">
          <p>$70.500</p>
          <P>10% OFF</P>
          <h4>Samsung Galaxy S10</h4>
        </article>
        <article class="oferta">
          <img src="/imagen/img-tv-samsung-smart.jpg" alt="Producto TV Samsung">
          <p>$23.200</p>
          <P>5% OFF</P>
          <h4>SmartTv Samsung 43"</h4>
        </article>
      </section>
  </main>
  <footer>
    <section>
      <h3>Pagá con tarjeta o en efectivo</h3>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <!--seccion pie de pagina-->
    <section>
      <h3>Envío gratis desde $ 2.500</h3>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.
      </p>
    </section>
    <section>
      <h3>Seguridad, de principio a fin</h3>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </section>
    <section>
      <P>Copyright © 1999-2020 MercadoLiebre S.R.L.</P>
    </section>
  </footer>
</body>

</html>