<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/b760fc418d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="register">
    <header>
        <div class="contenedor-logo">
            <div class="logo">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" />
            </div>
            <div class="buscador">
                <form action=""><input type="text" name="" id="" placeholder="Busca productos, marcas">
                    <button class="boton"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="halding1">
                <h4 class="holding"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tajeta de crédito
                </h4>
            </div>
        </div>
        <div class="menu">
            <a href=""><i><i class="fas fa-bars"></i></i></a>
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficialeas</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="login">
                <li><a href="">Créa tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li><a href="">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis Compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </header>
    <main>
     
    <section class="conteiner">
        <h1>Bienvenidos</h1>

        <form action="" method="get">

            <div class="formularios">
                <label for="nombre">Nombre y Apellido</label>
                <input type="nombre" name="nombre" id="nombre" placeholder="Nombre y Apellido">
            </div>

           <!--<div>
                <label for="apellido">apellido</label>
                <input type="text" name="apellido" id="apellido">
            </div>--> 

            <div class="formularios">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>

            <div class="formularios">
                <label for="date">Fecha de Nacimiento</label>
                <input type="date" name="date" id="date">
            </div>

            <div class="formularios">
                <label for="text">Domicilio</label>
                <input type="text" name="text" id="text" placeholder="Domicilio">
            </div>
              

            <div class="check1">
               <h5>Ingresas para :</h5>
               <select name="ingresa" id="ingresa">
                   <option value="" selected hidden>Seleccionar</option>
                   <option value="">Comprar</option>
                   <option value="">Verder</option>
                   <small>Campo Obligatorio</small>
               </select>
             </div>
             <small>Categoria de Interes</small>
             <div class="check2">
               
                 <input type="checkbox" name="1" id="1">
                 <label for="checkbox">Electro</label>

                 <input type="checkbox" name="2" id="2">
                 <label for="checkbox">Moda</label>

                 <input type="checkbox" name="3" id="3">
                 <label for="checkbox">Hogar</label>

                 <input type="checkbox" name="4" id="4">
                 <label for="checkbox">Juguetería</label>

                 <input type="checkbox" name="5" id="5">
                 <label for="checkbox">Vida sana</label>

             </div>

            <div class="form-img">
                <label for="image"></label> 
               <strong>Selecionar Imagen</strong> <br>
               <input type="file" name="imagen" id="image">
            </div>

            <div class="form-contraseña">
                <label for="password1">Contraseña</label>
                <input type="password" name="password" id="password1"placeholder="Contraseña">
                <small>Obligatorio</small>
            </div>


            <div class="form-contraseña">
                <label for="password2">Confirmar Contraseña</label>
                <input type="password" name="password" id="password2" placeholder="Contraseña">
                <small>Obligatorio</small>
            </div>
          <div class="button-register">
              <div>
            <button type="submit">Enviar</button>
            </div>
            <div>
            <button type="reset">Canselar</button>
           </div>
        </div>
        </form>
 </section>
    </main>
</body>

</html>